# sbt
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# app configuration
src/main/resources/application.conf

# other
saved/